@{
    ViewBag.Title = "Events";
}

<div class="row">
    <div class="col-md-12">
        <h2>Events</h2>
        <p>
            Check out this awesome events!!
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        
        <table id="eventsTable" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Tecnology</th>
                    <th>Starting Date</th>
                    <th>Register</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Title</th>
                    <th>Tecnology</th>
                    <th>Starting Date</th>
                    <th>Register</th>
                </tr>
            </tfoot>
        </table>

    </div>
</div>

@section styles {
<link href="~/Content/DataTables-1.9.4/media/css/jquery.dataTables.css" rel="stylesheet" />
}

@section scripts {

<script src="~/Scripts/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/Site/Events.js"></script>

}